@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: black;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.founder {
    display: flex;
    padding: 1rem 5rem;
    gap: 3rem;
    align-items: center;
}

.founder-img {
    height: 30rem;
    border-radius: 5rem;
    background-color: #f3f3f3;
}

.about {
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: .5rem;
}

.about h1 {
    font-size: 3rem;
}

.about span {
    font-size: 1.2rem;
}

.about p {
    padding: 2rem 0;
    font-size: 1.3rem;
}

.about a {
    text-transform: uppercase;
    transition: .3s ease-in-out;
}

.founder-link {
    font-size: 2rem;
}

.founder-link a {
    padding: 1rem .5rem;
}

.about a:hover {
    color: #E21D24;
    transform: translateX(5px);
}

.accreditation {
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-size: 1.2rem;
}

.accreditation h1 {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.accreditation img {
    height: 6rem;
}


@media (width<800px) {
    .founder {
        flex-direction: column;
        padding: 1rem;
    }

    .founder-img {
        margin-top: 1rem;
    }

    .accreditation {
        padding: 1rem;
    }
}


#check{
    display: none;
}

.readmore{
    display: none;
}

.lal{
    display: inline;
    text-decoration:underline;
    font-weight: 600;
    margin-top: 2rem;
}

#check:checked ~ .readmore{
    display: block;
}