@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.float {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50px;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transition: .3s ease-in-out;
}

.float:hover {
    width: 60px;
    height: 60px;
    font-size: 40px;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

header {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 5;
    transition: 0.3s ease-in-out;
}

.top {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    height: 2rem;
    width: 100%;
    background-color: #ffffff;
}

.top a {
    color: black;
    padding-right: 1.5rem;
    text-decoration: none;
}

.logo {
    padding-left: 2rem;
    height: 6rem;
}

.header {
    background-color: #E21D24;
    backdrop-filter: blur(8px);
    position: fixed;
    width: 100%;
    z-index: 3;
    transition: 0.3s ease-in-out;
}

.header ul {
    margin: 0;
    margin-top: 1rem;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.header li a {
    display: block;
    padding: 20px 20px;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
}

.header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
}

/* menu */

.menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.menu li a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    color: #ffffff;
    position: relative;
}

.menu li a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 10px;
    content: "";
    display: block;
    height: 5px;
    left: 50%;
    border-radius: 0 0 5px 5px;
    position: absolute;
    background: rgb(255, 255, 255);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.menu li a:hover {
    color: #ffffff;
    cursor: pointer;
}

.menu li a:hover:after {
    width: 70%;
    left: 15%;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .nav-icon {
    background: white;
    display: block;
    height: 4px;
    position: relative;
    transition: background .2s ease-out;
    width: 2em;
}

.header .menu-icon .nav-icon:before,
.header .menu-icon .nav-icon:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .nav-icon:before {
    top: 10px;
}

.header .menu-icon .nav-icon:after {
    top: -10px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .nav-icon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
}

.header .menu-btn:checked~.menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
}


/* 48em = 768px @ 16pt font */

@media (min-width: 50em) {
    .header li {
        float: left;
    }

    .header li a {
        padding: 20px 30px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
}

@media (width<800px) {
    .top {
        display: none;
    }

    .logo {
        padding-left: 1rem;
    }

    .nav-icon {
        margin-top: 1rem;
        padding-right: 1rem;
    }

    .menu li a:after {
        display: none;
    }

    .menu li a:hover {
        background-color: #ff7b7b;
    }
}


main {
    width: 100%;
    height: fit-content;
}

section {
    width: 100%;
    position: relative;
    top: 8rem;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    flex-wrap: wrap;
}

.hero {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.t1 {
    display: flex;
    flex-direction: row;
}

.iam,
.text {
    font-size: 1.5rem;
    font-weight: 500;
    color: #E21D24;
}

.t2 {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 3rem;
}

.t2 span {
    color: #E21D24;
}

.t3 {
    margin-top: 1.5rem;
    font-weight: 500;
    font-size: 1.2rem;
    padding-right: 1rem;
}

.t4 {
    text-decoration: none;
    background-color: #E21D24;
    width: 13rem;
    margin-top: 1.5rem;
    font-weight: 600;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    color: #ffffff;
    transition: .3s ease-in-out;
}

.t4 i {
    transition: .3s ease-in-out;
    font-size: 1.5rem;
}

.t4:hover i {
    transform: translateX(10px);
}

.t4:hover {
    box-shadow: rgb(185, 185, 185) 3px 3px 3px 3px;
}

.sponsors {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 2rem;
}

.spo {
    padding-right: 3rem;
}

.img {
    height: 5rem;
    transition: .3s ease-in-out;
}

.img:hover {
    scale: 1.1;
}

.imgContainer {
    width: 37rem;
    overflow: hidden;
    border-radius: 10px;
}

/*Area of images*/
.wrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    animation: slide 16s infinite;
}

.stud {
    width: 100%;
}

/*Animation activated by keyframes*/
@keyframes slide {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(0);
    }

    30% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-100%);
    }

    55% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-200%);
    }

    80% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(-300%);
    }
}


.slider {
    display: none;
}

div#slider {
    overflow: hidden;
}

div#slider figure img {
    width: 20%;
    float: left;
}

div#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite;
}

@keyframes slidy {
    0% {
        left: 0%;
    }

    20% {
        left: 0%;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }
}




.course,
.heading {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.heading {
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
    gap: 1rem;
    width: 50%;
}

.h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

.sub-head {
    font-size: 1.3rem;
}

.container {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.box {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 13rem;
    width: 17rem;
    border-radius: 25px;
    background-color: #FFC6C6;
    font-size: 1.1rem;
    transition: .3s ease-in-out;
}

.box:hover {
    box-shadow: 5px 5px 5px rgba(255, 81, 81, 0.6);
}

.circle {
    border-radius: 25px;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.box h3 {
    margin-bottom: .5rem;
}

.ourmission {
    padding: 5rem 5rem;
    margin: 0 1.2rem;
    display: flex;
    gap: 2rem;
}

.h1-left span {
    color: #E21D24;
    font-size: 4rem;
}

.ourmission p:nth-child(2) {
    font-size: 1.2rem;
}

.accreditation {
    flex-direction: column;
    gap: .5rem;
}

.accreditation h1 {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.accreditation img {
    height: 4rem;
}

.career {
    padding-top: 1.5rem;
    height: fit-content;
    flex-direction: column;
    position: relative;
}

.career h1 {
    font-size: 3rem;
}

.career a {
    color: #E21D24;
    font-weight: 500;
    font-size: 1.5rem;
    transition: .3s ease-in-out;
}

.career div {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 1rem;
}

.opportunity {
    display: flex;
    align-items: center;
    justify-content: center;
}

.opportunity img {
    height: fit-content;
    width: 40rem;
}

.placementimg {
    width: 25rem;
}

.career a:hover {
    color: black;
}

.accreditation h1 a {
    font-size: 2rem;
    color: black;
}

.accreditation_head {
    display: flex;
    gap: .5rem;
}

.ul {
    padding-left: 2rem;
    font-size: 1.2rem;
    margin-left: 10px;
    list-style-type: square;
}

.footer {
    padding: 1rem;
    width: 100%;
    height: fit-content;
    background-color: #E21D24;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.dev {
    background-color: #E21D24;
    width: 100%;
    text-align: center;
    padding: 1rem;
}

.dev a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
}

.map {
    display: flex;
    align-items: center;
}

.map iframe {
    border-radius: 15px;
    width: fit-content;
    height: 13rem;
}

.logo2 {
    height: 10rem;
    margin-bottom: .5rem;
}

.socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
}

.socials p {
    color: #ffffff;
    width: 70%;
    padding: .5rem;
    margin-bottom: .5rem;
}

.sociallinks {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    font-size: 2rem;
}

.sociallinks a {
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    background-color: #ffffff;
    color: #E21D24;
    padding: .5rem;
    border-radius: 50px;
}

.links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5rem;
}

.usefullinks,
.place {
    width: 20rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.usefullinks a,
.usefullinks p,
.place a,
.place p {
    transition: .3s ease-in-out;
    padding: .5rem;
    text-decoration: none;
    color: #ffffff;
}

.usefullinks p,
.india {
    font-size: 1.5rem;
    font-weight: 600;
}

.usefullinks a:hover {
    transform: translateX(5px);
}


.faq {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 5rem;
    flex-wrap: wrap;
    overflow: hidden;
}

.faq-think {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    width: 25rem;
}

.faq-think b {
    padding-left: 1.5rem;
    font-size: 2.5rem;
    width: fit-content;
}

.faq-think p {
    padding-left: 1.5rem;
    font-size: 1.2rem;
    /* width: 70%; */
}

.faq-think img {
    width: 25rem;
}

.dots {
    position: absolute;
    rotate: 40deg;
    left: 0;
    bottom: 0;
    transform: translateX(-50px);
    z-index: -1;
    background-color: aqua;
}


input[type='checkbox'] {
    display: none;
}

.questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 55rem;
}

.wrap-collabsible {
    padding: 0 1rem;
    width: fit-content;
}

.lbl-toggle {
    display: block;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 1rem;
    color: rgb(0, 0, 0);
    background-color: rgba(214, 214, 214, 0.7);
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
    color: #FFF;
}

.lbl-toggle::before {
    content: ' ';
    float: right;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(6px);
    transition: transform .2s ease-out;
}

.toggle:checked+.lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}

.toggle:checked+.lbl-toggle+.collapsible-content {
    max-height: 350px;
}

.toggle:checked+.lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.toggle:checked+.lbl-toggle {
    background-color: rgb(255, 64, 64, .7);
    color: #ffffff;
}

.collapsible-content .content-inner {
    background-color: rgb(255, 64, 64, .7);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
}

.collapsible-content p {
    margin-bottom: 0;
}


@media (width<1025px) {
    .float {
        right: 20px;
    }

    .home {
        top: 9rem;
    }

    .hero {
        padding-left: .5rem;
    }

    .box {
        margin: 0rem 5rem;
        width: 100%;
    }

    .accreditation_head {
        flex-direction: column;
    }

    .ourmission {
        padding: 2rem 5rem;
        margin: 0rem;
        flex-direction: column;
        gap: 1rem;
    }

    .spo {
        padding-right: 1rem;
    }

    .img {
        height: 5rem;
    }

    .stud {
        height: 25rem;
    }

    .heading {
        width: 100%;
    }

    .imgContainer {
        margin-top: 1rem;
        width: 25rem;
        height: fit-content;
    }

    .socials {
        width: 100%;
        margin-bottom: 1rem;
    }

    .links {
        margin-top: 1rem;
        gap: 1rem;
    }

    .faq {
        padding: 0rem;
        margin-bottom: 1rem;
    }
}



@media (width<800px) {
    .float {
        right: 20px;
    }

    .home {
        height: fit-content;
        flex-direction: column;
        top: 9rem;
    }

    .hero {
        width: 100%;
        padding-left: .5rem;
    }

    .box {
        margin: 0 1rem;
        width: fit-content;
    }

    .ourmission {
        padding: 2rem 1rem;
        margin: 0rem;
        flex-direction: column;
        gap: 1rem;
    }

    .career div {
        flex-direction: column-reverse;
    }

    .spo {
        padding-right: 1rem;
    }

    .img {
        height: 5rem;
    }

    .stud {
        height: 25rem;
    }

    .heading {
        width: 100%;
    }

    .imgContainer {
        display: none;
        margin-top: 1rem;
        width: 23rem;
    }

    .slider {
        display: block;
    }

    .socials {
        width: 100%;
        margin-bottom: 1rem;
    }

    .links {
        margin-top: 1rem;
        gap: 1rem;
    }

    .faq {
        margin-top: 2rem;
        padding: 0rem;
        margin-bottom: 1rem;
    }

    .h1-left span {
        color: #E21D24;
        font-size: 2.5rem;
    }

    .map iframe {
        margin: 0 2rem;
    }

    .opportunity {
        flex-direction: column-reverse;
    }

    .opportunity img {
        width: 24rem;
    }
}