@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.float {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50px;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transition: .3s ease-in-out;
}

.float:hover {
    width: 60px;
    height: 60px;
    font-size: 40px;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

header {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 5;
    transition: 0.3s ease-in-out;
}

.top {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    height: 2rem;
    width: 100%;
    background-color: #ffffff;
}

.top a {
    color: black;
    padding-right: 1.5rem;
    text-decoration: none;
}

.logo {
    padding-left: 2rem;
    height: 6rem;
}

.header {
    background-color: #E21D24;
    backdrop-filter: blur(8px);
    position: fixed;
    width: 100%;
    z-index: 3;
    transition: 0.3s ease-in-out;
}

.header ul {
    margin: 0;
    margin-top: 1rem;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.header li a {
    display: block;
    padding: 20px 20px;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
}

.header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
}

/* menu */

.menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.menu li a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    color: #ffffff;
    position: relative;
}

.menu li a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 10px;
    content: "";
    display: block;
    height: 5px;
    left: 50%;
    border-radius: 0 0 5px 5px;
    position: absolute;
    background: rgb(255, 255, 255);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.menu li a:hover {
    color: #ffffff;
    cursor: pointer;
}

.menu li a:hover:after {
    width: 70%;
    left: 15%;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .nav-icon {
    background: white;
    display: block;
    height: 4px;
    position: relative;
    transition: background .2s ease-out;
    width: 2em;
}

.header .menu-icon .nav-icon:before,
.header .menu-icon .nav-icon:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .nav-icon:before {
    top: 10px;
}

.header .menu-icon .nav-icon:after {
    top: -10px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .nav-icon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
}

.header .menu-btn:checked~.menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
}


/* 48em = 768px @ 16pt font */

@media (min-width: 50em) {
    .header li {
        float: left;
    }

    .header li a {
        padding: 20px 30px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
}

@media (width<800px) {
    .top {
        display: none;
    }

    .logo {
        padding-left: 1rem;
    }

    .nav-icon {
        margin-top: 1rem;
        padding-right: 1rem;
    }

    .menu li a:after {
        display: none;
    }

    .menu li a:hover {
        background-color: #ff7b7b;
    }
}

main {
    width: 100%;
    height: fit-content;
}

section {
    width: 100%;
    /* height: 100vh; */
    position: relative;
    top: 8rem;
}



.footer {
    padding: 1rem;
    width: 100%;
    height: fit-content;
    background-color: #E21D24;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo2 {
    height: 10rem;
    margin-bottom: .5rem;
}

.socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
}

.socials p {
    color: #ffffff;
    width: 70%;
    padding: .5rem;
    margin-bottom: .5rem;
}

.sociallinks {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    font-size: 2rem;
}

.sociallinks a {
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    background-color: #ffffff;
    color: #E21D24;
    padding: .5rem;
    border-radius: 50px;
    transition: .3s ease-in-out;
}

.sociallinks a:hover{
    background-color: #E21D24;
    color: #ffffff;
}

.links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5rem;
}

.usefullinks,
.place {
    width: 20rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.usefullinks a,
.usefullinks p,
.place a,
.place p {
    transition: .3s ease-in-out;
    padding: .5rem;
    text-decoration: none;
    color: #ffffff;
}

.usefullinks p,
.india {
    font-size: 1.5rem;
    font-weight: 600;
}

.usefullinks a:hover {
    transform: translateX(5px);
}



@media (width<800px) {
    .float {
        right: 20px;
    }

    .home {
        height: fit-content;
        flex-direction: column;
        top: 9rem;
    }

    .socials {
        width: 100%;
        margin-bottom: 1rem;
    }

    .links {
        margin-top: 1rem;
        gap: 1rem;
    }
}



#home {
  clip-path: url(#cache);
}

#red {
  fill: none;
  opacity: 0.15;
  stroke: #CE1B5F;
  stroke-width: 12;
  stroke-miterlimit:10;
  animation: show 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; 
}

#blue {
  fill: none;
  opacity: 0.15;
  stroke: #06A1C4;
  stroke-width: 12;
  stroke-miterlimit:10;
  animation: show 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#light-blue {
  fill: none;
  opacity: 0.15;
  stroke: #06A1C4;
  stroke-width: 6;
  stroke-miterlimit:10;
  stroke-dasharray: 200;
  stroke-dashoffset: 800;
  animation: draw 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;    
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
 }
    }

@keyframes show {
  0% {
    opacity: 0.15;
 }
  50% {
    opacity: 0.2;
 }
  100% {
    opacity: 0.15;
 }
    }


